 {% extends 'base.html'%} {% block content %}

<table class="table">
    <thead>
        <tr>
            <th>
                <h2>Image</h2>
            </th>
            <th>
                <h2>Description</h2>
            </th>
            <th>
                <h2>Published Date</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td><img src="{{ article['urlToImage'] }}" alt="no image" height=200px width=250px></td>
            <td>{{ article['description'] }}</td>
            <td>{{ article['publishedAt'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}