<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td><img src="{{ article['urlToImage'] }}" alt="no image" height=200px width=250px></td>
                <td>{{ article['description'] }}</td>
                <td>{{ article['publishedAt'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>